<section class="form-gray">
		<div class="container">
			<%= form_tag "/pages/searchresults" ,:class=>"inline-form mainpage-form", :method => 'get' do %>
				  <p>
					<%= text_field_tag :searchquery, "Search restaurants by name, area, cuisine and menu items", :onfocus => "if (this.value == 'Search restaurants by name, area, cuisine and menu items') {this.value = '';}", :onblur=>"if (this.value == '') {this.value = 'Search restaurants by name, area, cuisine and menu items';}",:class=>"main-search typeahead"  %>
					in <%=	select_tag "cities", options_from_collection_for_select(@uniqcities, "id", "city"),:class => "city" %>
					
				    <%= submit_tag "Get Started", :name => nil, :class => "btn btn-primary btn-large" %>
				  </p>
				<% end %>

		</div>
		</section>
<section id="main-page">
	<div class="container">
<h1 class="main-page-intro">{ Our favorites of the week }</h1>
<ul class="favorites">
	<li class="favorites-listitem"><img class="favorites-listimg" src="/assets/favs1.jpg" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li>
	<li class="favorites-listitem"><img class="favorites-listimg" src="/assets/favs2.jpg" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li><li class="favorites-listitem"><img class="favorites-listimg" src="/assets/favs3.jpg" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li><li class="favorites-listitem"><img class="favorites-listimg" src="" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li><li class="favorites-listitem"><img class="favorites-listimg" src="" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li><li class="favorites-listitem"><img class="favorites-listimg" src="" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li><li class="favorites-listitem"><img class="favorites-listimg" src="" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li><li class="favorites-listitem"><img class="favorites-listimg" src="" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li><li class="favorites-listitem"><img class="favorites-listimg" src="" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li>
	</ul>
</div>
</section>


	