	<%= form_tag "/pages/searchresults" ,:class=>"inline-form mainpage-form", :method => 'get' do %>
	  <p>
		<%= text_field_tag :searchquery, "Search for restaurants, dishes, area etc", :onfocus => "$(this).val('')", :onblur => "$(this).val('Search for restaurants, dishes, area etc')",:class=>"main-search typeahead"  %>
	    <%= submit_tag "Get Started", :name => nil, :class => "btn btn-primary btn-large" %>
	  </p>
	<% end %>


	