	<section>
		<div class="container">
		<div id="spider" class="nivoSlider" title="Order food from restaurants online">
			<h1 class="header">Order food from restaurants online</h1>
			<div>
		            <div class="left">
			<h1>Step 1 - Search</h1>
				<h4>Search for a restaurant</h4>
				<p>Use different parameters like menu items, cuisines, delivery area etc to search for restaurants</p>
		                 </div>
						<div class= "right">
			                            <img src="/assets/search.png" alt="image06"/>
			                 </div>
			</div>
			<div>
			            <div class="left">

							<h1>Step 2 - Browse</h1>
							<h4>Select a restaurant</h4>
							<p>Select a restaurant that you like and that delivers to your area and start browsing its interactive menu.</p>
		                            </div>
										<div class= "right">
							                            <img src="/assets/view.png" alt="image06"/>
							                 </div>
							</div>
							<div>
						            <div class="left">

										<h1>Step 3 - Order</h1>
										<h4>Pick items you like and place order</h4>
										<p>Want to eat a particular dish from the restaurant you like? Just click on it and place order and it will be on its way to you.</p>
		                           </div> 
									<div class= "right">
						                            <img src="/assets/order.png" alt="image06"/>
						                 </div>
						</div>
		<div>    
					            <div class="left">

										<h1>Step 4 - Eat and Enjoy!</h1>
										<h4>Restaurant delivers to you and you eat</h4>
										<p>Once the order is placed by you, we contact the restaurant and they deliver your desired dish to you. Collect your items and have a great meal! :)</p>
		                          </div> 
									<div class= "right">
			                            <img src="/assets/delivery.png" alt="image06"/>
						                            <img src="/assets/eat.png" alt="image06"/>
						                 </div>
						</div>
		</div>
	</div>
	
</section>

<section class="form-gray">
		<div class="container">
			<%= form_tag "/pages/searchresults" ,:class=>"inline-form mainpage-form", :method => 'get' do %>
				  <p>
					<%= text_field_tag :searchquery, "Search restaurants by name, area, cuisine and menu items", :onfocus => "if (this.value == 'Search restaurants by name, area, cuisine and menu items') {this.value = '';}", :onblur=>"if (this.value == '') {this.value = 'Search restaurants by name, area, cuisine and menu items';}",:class=>"main-search typeahead"  %>
					in <%=	select_tag "cities", options_from_collection_for_select(@uniqcities, "id", "city"),:class => "city" %>
					
				    <%= submit_tag "Get Started", :name => nil, :class => "btn btn-primary btn-large" %>
				  </p>
				<% end %>

		</div>
		</section>
<section id="main-page">
	<div class="container">
		<!---
<h1 class="main-page-intro">{ Our favorites of the week }</h1>
<ul class="favorites">
	<li class="favorites-listitem"><img class="favorites-listimg" src="/assets/favs1.jpg" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li>
	<li class="favorites-listitem"><img class="favorites-listimg" src="/assets/favs2.jpg" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li><li class="favorites-listitem"><img class="favorites-listimg" src="/assets/favs3.jpg" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li><li class="favorites-listitem"><img class="favorites-listimg" src="" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li><li class="favorites-listitem"><img class="favorites-listimg" src="" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li><li class="favorites-listitem"><img class="favorites-listimg" src="" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li><li class="favorites-listitem"><img class="favorites-listimg" src="" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li><li class="favorites-listitem"><img class="favorites-listimg" src="" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li><li class="favorites-listitem"><img class="favorites-listimg" src="" alt="" title="" /><h2 class="fav-list-heading"></h2><p class="fav-list-desc"></p></li>
	</ul>
	
	-->





	
</div>
<!--
<section>
	<div class="hero">
	<div class="hero-content right">
	<h2 class="hero-heading">Quick, accurate orders</h2>
	<p class="hero-para">No more repeating yourself over the phone. Place the order in a span of few clicks and be rest assured of accurate delivery.
		</div>
		<div class="hero-image">
		<img class="hero-img" src="http://foodzoo.s3.amazonaws.com/assets/images/homepage/accurate.png" />
	</div>
</div>
<div class="hero">

	<div class="hero-content">
	<h2 class="hero-heading">Verified accounts order faster.</h2>
	<p class="hero-para">Once you verify your account with us, there will be no need of order confirmation on your part. Hence cutting down the delivery time significantly.
		</div>
		<div class="hero-image">
		<img class="hero-img" src="http://foodzoo.s3.amazonaws.com/assets/images/homepage/check.png" />
	</div>
	</div>
	<div class="hero">
	<div class="hero-content right">
	<h2 class="hero-heading">Cash on delivery</h2>
	<p class="hero-para">Don't pay until your food arrives. A convenient way for you to be sure that you pay only if the order is delivered right.
		</div>
		<div class="hero-image">
		<img class="hero-img" src="http://foodzoo.s3.amazonaws.com/assets/images/homepage/delivery2.png" />
	</div>
	</div>
	<div class="hero">
	<div class="hero-content">
	<h2 class="hero-heading">Attractive discounts to returning users</h2>
	<p class="hero-para">No more repeating yourself over the phone. Place the order in a span of few clicks and be rest assured of accurate delivery.
		</div>
		<div class="hero-image">
		<img class="hero-img" src="" />
	</div>
	</div>
</section>


</section>

-->



	