/* set the background-color to red */
@font-face
{
font-family:'NeuzeitGroT_Bold';
src: url('/assets/NeuzeitGroT_Bold.ttf')  format('truetype');
}

body *
{
	font-family:"Lucida-Grande","Helvetica Neue", "Helvetica", "Calibri", Arial, sans-serif;
	
}

body div.container form input 
{
	height:20px;
	margin:10px 0px;
	padding:10px;
	width:300px;
	color:#3e3e3e;
	font-weight:bold;
	font-size:16px;
	border: 1px solid #b8b5b3;
}
body div.container form input.btn
{
	height:40px;
	width:auto;
	color:#fff;
}
h1, h2, h3, h4, h5, h6
{
	font-family: 'NeuzeitGroT_Bold','Arvo',"Helvetica Neue", "Helvetica", "Calibri", Arial, sans-serif;
}

header > .navbar 
{
	height: 60px;
		margin-bottom:5px;
		width: 100%;
		color: #4383c5;
		box-shadow: 0 2px 5px rgba(0,0,0,0.25);
		border:none;
		z-index:5;
		position:relative;
		


}
.navbar .navbar-inner
{
	height: 60px;
	margin-bottom: 30px;
	background-color: #fff;
	background-image:none;
	color: #4383c5;
	box-shadow: 0 2px 5px rgba(0,0,0,0.25);
	border-color:none;
	border:none;
	
}

.navbar .nav > li > a{
	color:#4383c5;
	font-size:12px;
	font-weight:bold;
	letter-spacing:.1em;
	padding:23px 15px;
	line-height:12px;
}

.navbar-inverse .nav > li > a:focus,
   .navbar-inverse .nav > li > a:hover {
	
	color:#CB202D;
	
}

.navbar-inverse .nav > .active > a,
.navbar-inverse .nav > .active > a:hover,
    .navbar-inverse .nav > .active > a:focus {
	
		         color:  #CB202D;
		box-shadow: rgba(0,0,0,0.2) 0 0 0 1px inset;
       }



form.navbar-form input.searchqueryfield
{
	height:20px;
	margin:10px 0px;
	padding:10px 10px;
	width:300px;
	color:#aaa;
	font-size:16px;
	border: 1px solid #b8b5b3;
}

.navbar-inverse form.navbar-form input
{
	width:150px;
	margin:12px 0;
}
.navbar-inverse form.navbar-form input.btn
{
	width:80px;
	height:30px;
	margin:14px 0px;
	padding: 9px 12px;
	font-size:12px;
	line-height:12px;
	
}
.navbar .btn, .navbar .nav > li > a.btn
{
	padding-top: 0;
	padding-bottom: 0;
	margin: 12px;
	display: inline-block;
	vertical-align: middle;
	padding: 8px 15px;
	border: 1px solid #b8b5b3;
	color: #4383c5;
	cursor: pointer;
	font-size:12px;
	font-weight:bold;
	letter-spacing:.1em;	background: #f1f1f1;
	border-radius: 2px;
	text-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(100%, #f8f8f8)),#f8f8f8;
	background: -webkit-linear-gradient(#ffffff 20%,#f8f8f8),#f8f8f8;
	background: -moz-linear-gradient(#ffffff 20%,#f8f8f8),#f8f8f8;
	background: -o-linear-gradient(#ffffff 20%,#f8f8f8),#f8f8f8;
	background: linear-gradient(#ffffff 20%,#f8f8f8),#f8f8f8;
}

.navbar-inverse a.join-btn
{
	float:right;
	margin:12px;
}

form.inline-form input.main-search:focus
{
	color:#000;
	font-weight:bold;
	background: -webkit-gradient(linear,  50% 100%,  50% 0%,  color-stop(0%,  #ededed),  color-stop(100%,  #fafafa));
    background: -webkit-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: -moz-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: -o-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: linear-gradient(bottom,  #ededed, #fafafa 7px);
}


.navbar li.sitename a
{
	font-size:30px;
	font-family: 'Merienda One', cursive;
	font-weight:bolder;
	font-style:italic;
    color:  #CB202D;
	letter-spacing:-0.08em;
}


.top-bar
{
	margin-bottom:0;
	padding:20px 0px;
	height:40px;
	box-shadow:none;
	border-color:none;
	border:none;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#fff ;
   	

}
.top-bar .nav > li > a {
    color:rgb(22, 166, 182);
	font-weight:bold;
	text-shadow:none;
    }


.top-bar .navbar-inner
{
	width:85%;
	margin:0 auto;
   	background-color:#fff ;
	border:none;
	background-image: none;
	border-color:none;
    color:#383838;
box-shadow:none;
border-color:none;
border:none;
}   



/* menu items */

    /* set the background of the menu items to pink and default color to white */

    .top-bar .nav > li > a {
        color: #383838;
		font-weight:bold;
		text-shadow:none;
		font-size:14px;
		padding:10px 20px;
		letter-spacing:0.12em;
        }


    /* set hover and focus to lightblue */
   .top-bar .nav > li > a:focus,
    .top-bar .nav > li > a:hover {
		background-color:#CB202D;
        color:  #fff;
    }
        /* set active item to darkgreen */
 .top-bar .nav > .active > a,
 .top-bar .nav > .active > a:hover,
     .top-bar .nav > .active > a:focus {
			background-color:#CB202D;
          color:  #fff;
        }

    /* set font color and background of the project name (brand) */

    .top-bar .brand 
    {
        color: navy;
    }

section
{
	width:100%;
}

div.container
{
	overflow:auto;
	margin:0 auto;
}

div.alert
{
	margin:0;
	top:100px;
	left:20px;
	position:absolute;
	z-index:9999;
	opacity:.9;
	font-weight:bold;
}
/* div column container */

div.col-6
{
	width:45%;
	float:left;
	padding:2.5%;
}
div.col-8
{
	width:55%;
	float:left;
	margin-left:2.5%;
}
div.col-4
{
	width:40%;
	float:left;
	margin-left:2.5%;
}



/*show page styles */

section#hero
{
	border-bottom: 1px solid #ccc;
	background-color:#e9eae5;
}
.jumbotron {
font-size: 21px;
font-weight: 200;
line-height: 2.1428571435;
color: inherit;
}
.jumbotron h1 {
	font-family: 'NeuzeitGroT_Bold','Arvo',"Helvetica Neue", "Helvetica", "Calibri", Arial, sans-serif;
font-size: 36px;
line-height: 1;
color: #383838;
padding:0 0px;
text-shadow: -2px -2px 2px -4px rgb(109,109,103);
padding-top:150px;
}
.jumbotron p
{
	font-size:12px;
	font-weight:bold;
	line-height:21px;
	float:left;
	display:inline;
	margin:0px 10px 20px 0px;
}
.jumbotron .badge
{
	border-radius:0;
	background-color:#adc77e;
}
.jumbotron h1 img
{
	margin:0;
}
.jumbotron .badge a
{
	tex-decoration:none;
	background-color:transparent;
}
.jumbotron .faved
{
	background-color:#f00;
	
}

.jumbotron .faved span.icon-heart, .jumbotron .faved span.icon-ok-sign
{
	background-image:url(/assets/glyphicons-halflings-white-6cccd17a7aed91dbc0157d343c68c0d9.png);
}


h3.menucategory
{
	width:97.8%;
	font-size:16px;
	margin-bottom:0;
	padding:5px 1%;
	margin: 0 1.1;
	border-bottom:1px solid #ccc;
	color:rgb(238, 101, 87);
	background-color:#e9eae5;	
}

div#menu 
{
	padding-top:2%;
}

div.menucontainer
{
	width:96%;
	padding:0 2%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0px 1px inset;
    background-color: #fff;
    display: block;
    padding: 0;
 -webkit-box-shadow: 0 0 0 1px rgba(67, 131, 197, 0.9) inset, 0 0 8px rgba(67, 131, 197, 0.8);
    -moz-box-shadow: 0 0 0 1px rgba(67, 131, 197, 0.9) inset, 0 0 8px rgba(67, 131, 197, 0.8);
    box-shadow: 0 0 0 1px rgba(67, 131, 197, 0.9) inset, 0 0 8px rgba(67, 131, 197, 0.8);
    border-radius: 2px;

}

div.menucontainer table tr
{
	width:49%;
	float:left;
	margin: 0 0.5%;
}
div.menucontainer table.table-hover tr:hover
{
	color:#000;
}
div.menucontainer table tr td
{
	font-size:12px;
	width:100%;
	border:none;
	border-bottom: 1px solid #ccc;
}
div.order-bucket
{
	padding-bottom:20px;
	margin-bottom:20px;
	background-color:#fff;
	overflow:visible;
	-webkit-box-shadow: 0 0 0 1px rgba(67, 131, 197, 0.9) inset, 0 0 8px rgba(67, 131, 197, 0.8);
	    -moz-box-shadow: 0 0 0 1px rgba(67, 131, 197, 0.9) inset, 0 0 8px rgba(67, 131, 197, 0.8);
	    box-shadow: 0 0 0 1px rgba(67, 131, 197, 0.9) inset, 0 0 8px rgba(67, 131, 197, 0.8);
}

div.order-bucket form
{
	margin:20px;
}

div.order-bucket form input 
{
	height:20px;
	margin:10px 0px;
	padding:10px 10px;
	width:300px;
	font-size:16px;
	border: 1px solid #b8b5b3;
}
div.order-bucket form input.btn
{
	height:40px;
	margin:10px 0px;
	padding:10px 10px;
	width:150px;
	
}
div.order-bucket form textarea
{
	margin:10px 0px;
	padding:10px 10px;
	width:300px;
	font-size:16px;
	border: 1px solid #b8b5b3;
		height:150px;
}
div.order-bucket form td input
{
width:80%;
margin:5px 0;
padding:5px 0;
font-size:12px;
border:none;
box-shadow:none;
background:transparent;
}

div.order-bucket form td.itemname, div.order-bucket form th.itemname
{
	width:60%;
}

div.order-bucket table.totaltable
{
	width:100%;
}
div.order-bucket table.totaltable td input
{
	padding:0;
	margin:0;
}
div.order-bucket table.totaltable td input#total
{
	font-weight:bold;
}
div.order-bucket table.totaltable td.totaldesc
{
	width:75%;
}

h2.orderbucket
{
	font-size:18px;
}

div.review-box
{
	width:92%;
	margin:2%;
	padding:2%;
}

div.reviews
{
	border-radius:8px;
	color:#383838;
	background-color:#e9eae5;
	width:100%;
	margin:10px;
}
div.reviews h4
{
	float:left;
	color:#8B0000;
	width:90%;
	font-size:18px;
	display:inline-block;
}
div.reviews h4, div.reviews p
{
	padding:10px;
	margin:0;
}
div.reviews p#reviewscore
{
	padding:10px;
	float:left;
	font-size:16px;
	font-weight:bold;
display:inline-block;
}
 div.reviews p
{
	padding-top:0;
	font-size:14px;
	line-height:21px;
}
div.reviews p#review-meta
{
	clear:both;
	font-size:12px;
	color:#666;
}
div.review-form
{
	width:96%;
	padding: 0 2%;
}
div.review-form a.btn
{
	color:#fff;
	margin:30px 10px;
}
h2.review-heading
{
	font-size:20px;
	padding: 0 2%;
	margin:0;
}
div.review-form form input, div.review-form form textarea
{
		margin:2%;
		font-size: 24px;
		height: 24px;
		line-height: 28px;
		padding: 10px 6px;
		border: 1px solid silver;
		width: 94%;
		background-color: #fff;
		border: 1px solid #ccc;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
		-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
		-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
		-o-transition: border linear 0.2s, box-shadow linear 0.2s;
		transition: border linear 0.2s, box-shadow linear 0.2s;
		-moz-box-shadow: 0 2px 5px 5px rgba(231, 231, 231, 0.4) inset;
		-webkit-box-shadow: 0 2px 5px 5px rgba(231, 231, 231, 0.4) inset;
		box-shadow: 0 2px 5px 1px rgba(231, 231, 231, 0.4) inset;
		font-family: Helvetica,Arial,sans-serif;
	
}
div.review-form form textarea
{
	height:250px;
	margin:0;
}
div.review-form form input[type="submit"].btn
{
	color: #fff;
	background-color: #F00;
	border: 1px solid #d90000;
	background-image: -ms-linear-gradient(top, red, #d90000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(red), to(#d90000));
	background-image: -webkit-linear-gradient(top, red, #d90000);
	background-image: -o-linear-gradient(top, red, #d90000);
	background-image: linear-gradient(top, red, #d90000);
	background-image: -moz-linear-gradient(top, red, #d90000);
	-moz-box-shadow: 0 1px 4px rgba(32, 32, 32, 0.8), 0 10px 25px -5px rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 4px rgba(32, 32, 32, 0.8), 0 10px 25px -5px rgba(255, 255, 255, 0.5) inset;
	box-shadow: 0 1px 4px rgba(32, 32, 32, 0.8), 0 10px 25px -5px rgba(255, 255, 255, 0.5) inset;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	font-size: 24px;
	line-height: 28px;
	padding: 8px 25px;
	height:auto;
	width:300px;
	float:right;
	margin-right:48px;
	
}
div.review-form label
{
	font-size:13px;
	font-weight:bold;
	margin:0 10px;
}

div.delivery-info
{
	height:200px;
	width:100%;	
}
div.top-bar
{
	margin-bottom:0;
}



.hide {
    display: none;
}


div.container div.hotel-info
{
	padding:2%;
	margin:2%;
	widht:92%;
}

/* home page styles ****/
#slider { 
	border-bottom:1px inset #eee;
	clear:both;
	position:relative;
	height:500px;
	overflow:hidden;
	z-index:0;
	margin-top:-5px;
}

#slider > div { 
	width:100%;
     
}
div#slider img
{
	width:100%;
}

#spider { 
	border-bottom:1px inset #eee;
	clear:both;
	position:absolute;
	overflow:hidden;
	-webkit-box-shadow: 0 0 0 1px rgba(67, 131, 197, 0.9) inset, 0 0 8px rgba(67, 131, 197, 0.8);
	    -moz-box-shadow: 0 0 0 1px rgba(67, 131, 197, 0.9) inset, 0 0 8px rgba(67, 131, 197, 0.8);
	    box-shadow: 0 0 0 1px rgba(67, 131, 197, 0.9) inset, 0 0 8px rgba(67, 131, 197, 0.8);
	z-index:10;
background-color: rgba(255, 255, 255, 0.9);
margin:-375px auto 0;
width:740px;

}
#spider > div { 
	width:740px;
	height:240px;
	overflow:hidden;
     
}

#spider  div.left { 
	width:400px;
	height:200px;
	padding:20px;
float:left;

	
     
}
#spider  div.right { 
	width:260px;
	height:200px;
	padding:20px;
	float:right;


	
     
}
div#spider h1
{
	width:100%;
	color: #4383c5;
	
}
div#spider h1.header
{
	color:#383838;
	border-bottom:1px solid #3e3e3e;
	padding:10px;
}

section#main-page
{
	background: -webkit-gradient(linear,  50% 100%,  50% 0%,  color-stop(0%,  #ededed),  color-stop(100%,  #fafafa));
    background: -webkit-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: -moz-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: -o-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: linear-gradient(bottom,  #ededed, #fafafa 7px);
	
}

section.form-gray
{

	background-color:rgb(238, 238, 238);
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
}
form.mainpage-form
{
	margin:20px 0;
	padding:20px 0;
}

form.inline-form input.main-search
{
	margin:0;
	font-size: 18px;
	height: 24px;
	line-height: 28px;
	padding: 10px 6px;
	border: 1px solid silver;
	width: 650px;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-box-shadow: 0 2px 5px 5px rgba(231, 231, 231, 0.4) inset;
	-webkit-box-shadow: 0 2px 5px 5px rgba(231, 231, 231, 0.4) inset;
	box-shadow: 0 2px 5px 1px rgba(231, 231, 231, 0.4) inset;
	font-family: Helvetica,Arial,sans-serif;
	color:#888;
}

section div.container form.mainpage-form input.btn, form.mainpage-form input.btn-primary
{
	
	color: #fff;
	background-color: #F00;
	border: 1px solid #d90000;
	background-image: -ms-linear-gradient(top, red, #d90000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(red), to(#d90000));
	background-image: -webkit-linear-gradient(top, red, #d90000);
	background-image: -o-linear-gradient(top, red, #d90000);
	background-image: linear-gradient(top, red, #d90000);
	background-image: -moz-linear-gradient(top, red, #d90000);
	-moz-box-shadow: 0 1px 4px rgba(32, 32, 32, 0.8), 0 10px 25px -5px rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 4px rgba(32, 32, 32, 0.8), 0 10px 25px -5px rgba(255, 255, 255, 0.5) inset;
	box-shadow: 0 1px 4px rgba(32, 32, 32, 0.8), 0 10px 25px -5px rgba(255, 255, 255, 0.5) inset;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	font-size: 24px;
	line-height: 28px;
	padding: 8px 25px;
	display: inline-block;
	height:44px;
	margin:-4px 0 0;
	width:200px;
}
form.inline-form input.main-search:active
{
	color:#000;
}

h1.main-page-intro
{
	text-align:center;
	font-weight:normal;
	font-size:24px;
	margin-top:40px;
	font-family:serif;
	color:#888;
}

ul.favorites li.favorites-listitem
{
	list-style:none;
	height:auto;
	width:360px;
	float:left;
	margin:10px;
	background-color:#fff;
	-moz-box-shadow: rgba(0,0,0,0.2) 0 0 0px 1px inset;
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 0 0px 1px inset;
	box-shadow: rgba(0,0,0,0.2) 0 0 0px 1px inset;
	overflow:visible;
}

img.favorites-listimg
{
	height:358px;
	width:340px;
	background-color: #eee;
	margin:10px 10px 0px;
	border:none;
}
ul.favorites li.favorites-listitem h2.fav-list-heading
{
	height:40px;
	margin:0;
}
ul.favorites li.favorites-listitem p.fav-list-desc
{
	height:20px;
	margin:0;	
}
/* search page **********/

section#search
{
	background: -webkit-gradient(linear,  50% 100%,  50% 0%,  color-stop(0%,  #ededed),  color-stop(100%,  #fafafa));
    background: -webkit-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: -moz-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: -o-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: linear-gradient(bottom,  #ededed, #fafafa 7px);
}

section#search div.col-12
{
	background-color:#fff;
	margin:4% auto;
	width:76%;
	min-height:560px;
	-moz-box-shadow: rgba(0,0,0,0.1) 0 1px 2px 3px ;
	-webkit-box-shadow:rgba(0,0,0,0.1) 0 1px 2px 3px ;
	box-shadow: rgba(0,0,0,0.1) 0 1px 2px 3px ;
	border:1px solid #eee;
}
section#search div.col-12 div.search-header
{
	padding:20px;
	height:auto;
	text-align:center;
	background: -webkit-gradient(linear,  50% 100%,  50% 0%,  color-stop(0%,  #ededed),  color-stop(100%,  #fafafa));
    background: -webkit-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: -moz-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: -o-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: linear-gradient(bottom,  #ededed, #fafafa 7px);
}

section#search div.col-12 form.searchresults input
{
	width:550px;
	
}
section#search div.col-12 form.searchresults input.btn
{
	height:40px;
	width:100px;
	color:#fff;
}
ul.searchresults 
{
	margin:0;
	padding:0;
}

ul.searchresults li
{
	list-style:none;
	margin:0px;
	padding:10px;
	height:200px;
	border-bottom: 1px solid #eee;
}

ul.searchresults li:hover
{
	background-color:#fafafa;
}


ul.searchresults li h3 a:active, ul.searchresults li h3 a:link, ul.searchresults li h3 a:hover, ul.searchresults li h3 a:focus{
	background-color:inherit;
	color:#4383c5;
	font-size:16px;
	text-decoration:none;
}

 select.city
{
	margin:2px 0 0;
height:46px;
border:none;
box-shadow:0 0 0 #fff ;
-webkit-box-shadow:0 0 0 #fff ;
-moz-box-shadow:0 0 0 #fff;
padding:15px 0;
border:none;
background-color:#fff;
background-image:none;
border:1px solid #ccc;
border-radius:0;
appearance:field;
-moz-appearance:menulist; /* Firefox */
-webkit-appearance:field; /* Safari and Chrome */
font-size:16px;
font-weight:bold;
color:#000;

}
div.container div.user_dashboard_links
{
	width:25%;
	float:left;
	height:160px;
	background: -webkit-gradient(linear,  50% 100%,  50% 0%,  color-stop(0%,  #ededed),  color-stop(100%,  #fafafa));
    background: -webkit-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: -moz-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: -o-linear-gradient(bottom,  #ededed, #fafafa 7px);
    background: linear-gradient(bottom,  #ededed, #fafafa 7px);
}
div.container div.user_dashboard
{
	width:71%;
	float:right;
	padding:0 2%;
}

div.container div.user_dashboard_links ul li
{
	list-style:none;
}
div.container div.user_dashboard_links ul li a:link
{
	height:20px;
	font-size:14px;
	display:block;
	color:#4383c5;
	font-weight:bold;
	padding:20px;
	
}
div.container div.user_dashboard_links ul li a:hover, div.container div.user_dashboard_links ul li a.active, div.container div.user_dashboard_links ul li a:focus
{
	background-color:#fff;
	text-decoration:none;
	color:#4383c5;
}
div.container form.edit_user
{
	width:100%;
	font-size:12px;
}
div.container form.edit_user input
{
	border:none;
	border-bottom:1px dotted #383838;
	box-shadow:none;
	padding:10px 10px 0 0;
	margin:0;
	width:230px;
	
}

div.container form.edit_user label
{
	font-weight:bold;
	font-size:14px;
	padding:0;
	margin:0;
}
form.edit_user fieldset div
{
	margin:30px 5px;
	float:left;
	height:100px;
	width:250px;
	
}

div.clear
{
	clear:both;
}
div.clear a
{
	color:#4383c5;
}

input.hidden-field
{
	visibility:hidden;
}
div#maps iframe
{
	width:100%;
height:500px;
}


/***********footer *************/

footer
{
	height:300px;
	background-color:#383838;
	color:#efefef;
}
footer p.footer-rights
{
	color:#efefef;
	width:600px;
	margin:0 auto;
	font-size:12px;
	text-align:center;
	padding-top:250px;
}
